# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/
*.egg

# Node
node_modules/
dist/

# Env
.env
.env.*

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Project specific
backend/config/.env
backend/config/.env.*
backend/config/.env copy.example
backend/config/*.local
backend/config/*copy*
!backend/config/.env.example
